VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a595e1200207471ab14
VITE_APPWRITE_DATABASE_ID=labtrack

APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a595e1200207471ab14
APPWRITE_DATABASE_ID=labtrack
APPWRITE_API_KEY=PASTE_A_NEW_TEMPORARY_API_KEY_HERE
